*{
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #34A853;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.home{
  margin-left: 5%;
  margin-top: 5%;  
}

h1{
  font-size: 40pt;
  font-weight: 300;
  color: white;
}

h2{
  margin-left: 5%;
  margin-top: 20px;  
  font-weight: 300;
  color: white;
}

h3{
  font-weight: 300;
  color: #34A853;
}

p{
  font-weight: 300;
  width: inherit;
}

#par1{
  border-radius: 8px;
  padding: 25px;
  background: #4285F4;
  color: white;
}

#par2{
  border-radius: 8px;
  padding: 25px;
  background: #EA4335;
  color: white;
}

#par3{
  border-radius: 8px;
  padding: 25px;
  background: #FBBC05;
  color: white;
}

#intro{
  border-radius: 8px;
  padding: 2.5%;
  background: white;
  font-weight: 300;
  color: #34A853;
  margin-left: 5%;
  margin-top: 20px; 
  margin-right: 5%;
  margin-bottom: 3%;
  width: 85%;
}

.links{
  font-size: 18pt;
  font-weight: 300;
  color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #212C2D;
    text-decoration: underline;
}

.container {
  border-radius: 8px;
  padding: 5px;
  background: white;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-right: 4%;
}

.columns{

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px; 
  margin-bottom: 5%;

  width: 280px;

  flex-shrink: 0;
  flex-basis: auto;
}

img { 
  width: inherit;
  margin-top: 15px;
}


@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}