h1{
	color: #1D325A;
	font-size: 40pt;
  	font-weight: 300;
}
/*h2{
	color: #A2CBEB;
}
h3{
	color: #385B78;
}
h4{
	color: #3E89A2;
}
h5{
	color:#C1D0DC;
}
h6{
	color: #212C2D;
}*/

 h1:after {
     background: none repeat scroll 0 0 #C1D0DC;
     bottom: -10px;
     content: "";
     display: block;
     height: 2px;
     position: relative;
     width: 450px;
     color: blue;
 }

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

#profile1{
	position: absolute;
    top: 20px;
    right: 20px;
}

#profile2{
	position: absolute;
    top: 250px;
    right: 20px;
}

#profile3{
	position: absolute;
    top: 480px;
    right: 20px;
}

.aboutsection{
   
}

p{
	font-size: 20pt;
	font-weight: 300;
	color: #1D325A;
	padding-right: 30%;
}
	